<% content_for :title, "Home" %>

<div class="max-w-3xl mx-auto px-4 py-12 prose">
  <p class="text-xl font-semibold mb-4">
    Welcome!
  </p>

  <p class="text-lg">
    <%= link_to "Posts", posts_path, class: "hover:underline" %>
  </p>
</div>
