<% content_for :title, "Home" %>

<% content_for :bio do %>
  <div class="text-center mt-4 mb-8 px-4 max-w-xl mx-auto text-gray-700">
    <p class="text-lg">
    I'm homeless, working at a gas station, and building small startups.<br><br>I was a mortgage originator for Midland States Bank. I've made a few indie projects by brute forcing them together with AI and now I made this blog with Rails. I was born and raised in Illinois. I'm primarily interested in business and making money. I hope one day I have made enough to bring Sword Art Online to life.
    </p>
  </div>
<% end %>
<div class="max-w-3xl mx-auto px-4 py-12 prose">
  <!-- Title is in layout; here we just list posts -->

  <% if @posts.any? %>
    <ul class="list-none pl-0 space-y-2">
      <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_path(post), class: "text-xl hover:underline" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No posts yet.</p>
  <% end %>

  <div class="mt-8 text-center">
    <% link_to "View more posts", posts_path,
      class: "inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition" %>
  </div>
</div>
